# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Coverage
.coverage
htmlcov/
.pytest_cache/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/